aiohttp==3.7.4
async-timeout==3.0.1
attrs==22.2.0
Brotli==1.0.9
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==3.1.0
docutils==0.19
filelock==3.11.0
greenlet==2.0.2
idna==3.4
Jinja2==3.1.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
meshio==5.3.4
meson==1.0.1
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numpy==1.24.2
opencv-python==4.7.0.72
openmesh==1.2.1
Pillow==9.5.0
pycryptodome==3.10.1
Pygments==2.14.0
PyOpenGL==3.1.6
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.0
ranger-fm==1.9.3
requests==2.28.2
rich==13.3.4
scipy==1.10.1
SQLAlchemy==1.4.31
sympy==1.11.1
torch==2.0.0
torchvision==0.15.1
tornado==6.1
typing_extensions==4.5.0
urllib3==1.26.15
yarl==1.8.2
